flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b221fa5327d179b",
        "type": "http in",
        "z": "3af82246.3634ae",
        "name": "Ping",
        "url": "/ping",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "345d72c05c3e6eb7"
            ]
        ]
    },
    {
        "id": "345d72c05c3e6eb7",
        "type": "template",
        "z": "3af82246.3634ae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "OK",
        "output": "str",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "5df21d55806e92d4"
            ]
        ]
    },
    {
        "id": "5df21d55806e92d4",
        "type": "http response",
        "z": "3af82246.3634ae",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 160,
        "wires": []
    }
]